* {
  margin: 0;
  padding: 0;
}

@mixin Media($width) {
  @if $width == 340px {
    @media only screen and (min-width: 340px) {
      @for $i from 1 through 12 {
        .col-xs-#{$i} {
          width: 8.333333% * $i;
        }
      }
      @for $i from 1 through 12 {
        .offset-xs-#{$i} {
          margin-left: 8.333333% * $i;
        }
      }
    }
  } @else if $width== 576px {
    @media only screen and (min-width: 576px) {
      @for $i from 1 through 12 {
        .col-sm-#{$i} {
          width: 8.333333% * $i;
        }
      }
      @for $i from 1 through 12 {
        .offset-sm-#{$i} {
          margin-left: 8.333333% * $i;
        }
      }
    }
  } @else if $width== 768px {
    @media only screen and (min-width: 768px) {
      @for $i from 1 through 12 {
        .col-md-#{$i} {
          width: 8.333333% * $i;
        }
      }
      @for $i from 1 through 12 {
        .offset-md-#{$i} {
          margin-left: 8.333333% * $i;
        }
      }
    }
  } @else if $width==992px {
    @media only screen and (min-width: 992px) {
      @for $i from 1 through 12 {
        .col-lg-#{$i} {
          width: 8.333333% * $i;
        }
      }
      @for $i from 1 through 12 {
        .offset-lg-#{$i} {
          margin-left: 8.333333% * $i;
        }
      }
    }
  } @else if $width==1200px {
    @media only screen and (min-width: 1200px) {
      @for $i from 1 through 12 {
        .col-xl-#{$i} {
          width: 8.333333% * $i;
        }
      }
      @for $i from 1 through 12 {
        .offset-xl-#{$i} {
          margin-left: 8.333333% * $i;
        }
      }
    }
  } @else if $width==1400px {
    @media only screen and (min-width: 1400px) {
      @for $i from 1 through 12 {
        .col-xxl-#{$i} {
          width: 8.333333% * $i;
        }
      }
      @for $i from 1 through 12 {
        .offset-xxl-#{$i} {
          margin-left: 8.333333% * $i;
        }
      }
    }
  }
}
